<footer class="footer">    
    <div class="central-container footer__wrap">
        <div>
            <p class="footer__first-el text_bold">THE CANDLES</p>
            <p class="footer__second-el">thecandles@gmail.com</p>
        </div>
        <div>
            <p class="footer__first-el">Магазин</p>
            <p class="footer__second-el">Стать партнером</p>
        </div>
        <div>
            <p class="footer__first-el">Есть вопрос?</p>
            <p class="footer__second-el">Контакты</p> 
        </div>
    </div>
</footer>        