<h1 class="title">Корзина</h1>
<div class="cart-elements">
    <div class="cart-items">
        <app-shop-cart-item
            *ngFor="let i of cartItems" 
            [cartItem]="i"
        ></app-shop-cart-item>
    </div>
    <div class="cart-payment">
        <div class="cart-payment__info">
            <p class="cart-payment__el">Общая стоимость</p>
            <p class="cart-payment__el">3400 р</p>
        </div>  
        <form class="form"> 
            <!-- [formGroup]="form" (submit)="submit()" -->
            <input type="text" class="form__input" placeholder="адрес доставки" formControlName="adress">
            <input type="text" class="form__input" placeholder="имя" formControlName="name">
            <input type="text" class="form__input" placeholder="email" formControlName="email">
            <app-shop-button text="Оплатить"></app-shop-button>
            
            <!-- [disabled]="form.invalid" -->
        </form>
          
    
    </div> 
</div>


