<div class="cart-item">
    <div class="cart-item-wrap">
        <div class="wrap-img">
            <img class="cart-item__img" src="{{cartItem?.imgPath}}">
        </div>
        <div class="cart-item__info">
            <p class="cart-item__title">Свеча {{cartItem?.title}}</p>
            
            <p>Удалить</p>
            
        </div>
    </div>
    
    <p class="cart-item__info cart-item__price">{{cartItem?.price}} рублей</p>
    <app-shop-counter-wrapper class="cart-item__counter"></app-shop-counter-wrapper>
   
</div>