<!-- <p>shop works!</p>
<app-shop-item></app-shop-item>
<app-shop-cart></app-shop-cart> -->

<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>THE CANDLES</title>
        <link rel="icon" type="image/svg" href="img/logo.svg"/>
	</head>
	<body>
		<div class="content">
            <header class="header">
                <div class="header__info">
                    <p class="header__text">БЕСПЛАТНАЯ ДОСТАВКА ДО ПУНКТА ВЫДАЧИ ОТ 7000 РУБ. | ВСЕ СВЕЧИ ИЗГОТАВЛИВАЕМ НА ЗАКАЗ ЗА 3 — 4 РАБОЧИХ ДНЯ</p>      
                </div>
                <div class="header__menu menu">

                    <ul class="menu__part menu__left">
                        <li class="menu__left-item">Магазин</li>
                    </ul>
                    <p class="menu__logo logo">THE CANDLES</p>
                    <ul class="menu__part menu__right">
                        <li class="menu__left-item">Корзина</li>
                    </ul>
                </div>
            </header> 
            <div class="store">
                <ul class="store-flex">
                    <li class="store-item">
                        <img class="store-item__img" src="assets/img/store-item.jpg">
                        <div class="store-item__info">
                            <p class="text store-item__head-text">Свеча CONGRATS CANDLE</p>
                            <p class="text store-item__add-info">цвет, аромат, фитиль на выбор</p>
                            <div class="store-item__in-cart">
                                <a class="button button__in-cart" href="#">В корзину</a>
                                <p class="text">1690 рублей</p>
                            </div>
                        </div>
                        
                        
                    </li>
    
                    <li class="store-item">
                        <img class="store-item__img" src="assets/img/store-item.jpg">
                        <div class="store-item__info">
                            <p class="text store-item__head-text">Свеча CONGRATS CANDLE</p>
                            <p class="text store-item__add-info">цвет, аромат, фитиль на выбор</p>
                            <div class="store-item__in-cart">
                                <a class="button button__in-cart" href="#">В корзину</a>
                                <p class="text">1690 рублей</p>
                            </div>
                        </div>
                    </li>
                    <li class="store-item">
                        <img class="store-item__img" src="assets/img/store-item.jpg">
                        <div class="store-item__info">
                            <p class="text store-item__head-text">Свеча CONGRATS CANDLE</p>
                            <p class="text store-item__add-info">цвет, аромат, фитиль на выбор</p>
                            <div class="store-item__in-cart">
                                <a class="button button__in-cart" href="#">В корзину</a>
                                <p class="text">1690 рублей</p>
                            </div>
                        </div>
                    </li>
                    <li class="store-item">
                        <img class="store-item__img" src="assets/img/store-item.jpg">
                        <div class="store-item__info">
                            <p class="text store-item__head-text">Свеча CONGRATS CANDLE</p>
                            <p class="text store-item__add-info">цвет, аромат, фитиль на выбор</p>
                            <div class="store-item__in-cart">
                                <a class="button button__in-cart" href="#">В корзину</a>
                                <p class="text">1690 рублей</p>
                            </div>
                        </div>
                    </li>
                    <li class="store-item">
                        <img class="store-item__img" src="assets/img/store-item.jpg">
                        <div class="store-item__info">
                            <p class="text store-item__head-text">Свеча CONGRATS CANDLE</p>
                            <p class="text store-item__add-info">цвет, аромат, фитиль на выбор</p>
                            <div class="store-item__in-cart">
                                <a class="button button__in-cart" href="#">В корзину</a>
                                <p class="text">1690 рублей</p>
                            </div>
                        </div>
                    </li>
                    <li class="store-item">
                        <img class="store-item__img" src="assets/img/store-item.jpg">
                        <div class="store-item__info">
                            <p class="text store-item__head-text">Свеча CONGRATS CANDLE</p>
                            <p class="text store-item__add-info">цвет, аромат, фитиль на выбор</p>
                            <div class="store-item__in-cart">
                                <a class="button button__in-cart" href="#">В корзину</a>
                                <p class="text">1690 рублей</p>
                            </div>
                        </div>
                    </li>
                    <li class="store-item">
                        <img class="store-item__img" src="assets/img/store-item.jpg">
                        <div class="store-item__info">
                            <p class="text store-item__head-text">Свеча CONGRATS CANDLE</p>
                            <p class="text store-item__add-info">цвет, аромат, фитиль на выбор</p>
                            <div class="store-item__in-cart">
                                <a class="button button__in-cart" href="#">В корзину</a>
                                <p class="text">1690 рублей</p>
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>     
              

        </div>
        
    </body>
</html>
