<div class="content">
    <header class="header">
        <div class="header__info">
            <p class="header__text">БЕСПЛАТНАЯ ДОСТАВКА ДО ПУНКТА ВЫДАЧИ ОТ 7000 РУБ. | ВСЕ СВЕЧИ ИЗГОТАВЛИВАЕМ НА ЗАКАЗ ЗА 3 — 4 РАБОЧИХ ДНЯ</p>      
        </div>
        <div class="header__menu menu">

            <ul class="menu__part menu__left">
                <li class="menu__left-item">К списку товаров</li>
            </ul>
            <p class="menu__logo logo">THE CANDLES</p>
            <ul class="menu__part menu__right">
                <li class="menu__left-item">Корзина</li>
            </ul>
        </div>
    </header> 
    <div class="container">
        <div class="store-flex">
            <app-shop-item class="app-shop-item"
                *ngFor="let c of candles" 
                [candle]="c"
            ></app-shop-item>
        </div>
        <app-shop-cart></app-shop-cart>    
    </div>   
     
    <footer class="footer">    
        <div class="central-container footer__wrap">
            <div>
                <p class="footer__first-el text_bold">THE CANDLES</p>
                <p class="footer__second-el">thecandles@gmail.com</p>
            </div>
            <div>
                <p class="footer__first-el">Магазин</p>
                <p class="footer__second-el">Стать партнером</p>
            </div>
            <div>
                <p class="footer__first-el">Есть вопрос?</p>
                <p class="footer__second-el">Контакты</p> 
            </div>
        </div>
    </footer>        

</div>
